<a href="https://colab.research.google.com/github/DonnaVakalis/Urban.dat/blob/master/Copy_of_Exercise_2_2_Pandas_Fundamentals_II.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science for Construction, Architecture and Engineering

### Week 2 - Building Design Phase - Intro to Pandas

### Exercise Set 2.2 - Pandas Fundamentals II

This set of exercises is the second of two sets for Week 2. These exercises are designed to give you some hands on experience in trying out the concepts from the second set of videos for this week.

There is an introduction video available to explain the process of using this exercise video.

The lead developer of this exercise is Matias Quintana, a Ph.D. student at NUS and a teaching assistant of this course.

# Exercise 02.2

There are three exercises in this set, each one slightly more advanced uses of the [Pandas library](https://pandas.pydata.org/).

### Please note that you will need to use the resultant output from Exercise 02.2.3 for the Quiz 2.2.

First, we will help by importing the files the libraries you will need on this notebook:

In [0]:
import pandas as pd
import os
from google.colab import drive

And mount the google drive folder

In [2]:
drive.mount('/content/gdrive')
os.chdir("/content/gdrive/My Drive/EDX Data Science for Construction, Architecture and Engineering/Week 2 - Building Design - Intro to Pandas/simulation_data")

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

## Exercise 02.2.1

As a data scientist in the built environment, you may want to compare different simulation scenarios with a baseline in order to aid the decision making of the stakeholders. By doing this, you can provide better insights to the design team in terms of which streagy is less energy heavy.

The first thing we can do is load all the different scenarios alongside the baseline together. As you saw on the videos, one feature of interative python notebooks is the ability to run UNIX commands, such as `ls`:

In [3]:
ls

 Baseline.csv                      'Scenario - Increase Setpoint.csv'
 Baseline.xlsx                     'Scenario - Low-E Glass.csv'
'Scenario - Aircon Schedules.csv'  'Scenario - Rooftop Gardens.csv'
'Scenario - Cool roof.csv'

This command lists the contents of a given directory. In your case, is listing the contents of the current directory on which you arrived after mounting the gdrive.

You have already used `.read_csv()` to load a single file, now you are tasked to write a program that loads all the `.csv` files shown by the `ls` command. 

In this exercise go ahead and try loading and manipulating all the scenario files, this time using a **function**.

You can use this function called `load_all_csv` to load the files and the input can be a list of file names.

If you're successful, this function will be the only line of code you need to load data from all the files -- i.e.: `all_data = load_all_csv(files_names)` to collect all the data properly

Complete the function below and verify the files are loaded into `all_data`.

Use this first code cell to define your function:

In [0]:
# YOUR FUNCTION DEFINITION CODE HERE

def load_all_csv(files_names):
    csv_container = []
    for filename in files_names:
        df_temp = pd.read_csv(filename)
        csv_container.append(df_temp)
    all_dat = pd.concat(csv_container,axis=1)
    return all_dat

Now you can write code here that will define the list of scenario files, call the function and show the resultant DataFrame `all_data`

In [12]:
files_names =['Baseline.csv', 'Scenario - Increase Setpoint.csv', 'Scenario - Low-E Glass.csv', 'Scenario - Aircon Schedules.csv','Scenario - Rooftop Gardens.csv','Scenario - Cool roof.csv']
all_data = load_all_csv(files_names)
all_data.head()

      Month  Baseline  ...     Month  Scenario - Cool roof
0   January      5.69  ...   January                  4.46
1  February      6.75  ...  February                  5.39
2     March     10.64  ...     March                  8.96
3     April     13.60  ...     April                 11.73
4       May     19.34  ...       May                 17.28

[5 rows x 12 columns]

## Exercise 02.2.2
Sometimes, even if you have all the data we want to compare in one single dataframe, you may want to analyse specific columns rather than all of them.

In this exercise, write some lines of codes that creates a new dataframe containing only data from the `Baseline` and the simulation scenarios that are related to roof features.

**Hint**: Look at the instruction code in Exercise 02.01.3 for a reference on how to select a single column.

**Hint**: Remember that when you want to group variables is better to treat them as a list `['a','b']` instead of just two independant variables `'a','b'`. Notice the square brackets.

In [0]:
# YOUR CODE HERE

## Exercise 02.2.3
In this last exercise, let's create an the analysis of `Baseline` and simulation scenarios related to roof features. 

Go ahead and write some code now that calculate the percentage of energy savings that the scenario with the lowest consumption achieves when compared scenario with the maximum consumption (the baseline) for the month of June. 

Save this calculation as the variable `savings`

Type your answer in numbers from 0% to 100% and round to 2 decimal places

**Hint**: One way to select specific rows in a dataframe is by choosing the index with the function `.iloc[]`. This function accepts arguments in the form of `row_indices` or `row_indices, column_indices` (indices start with 0 in Python).

In [0]:
# YOUR CODE HERE

### Please write down the number that you calculated for the variable `savings` rounded up to 2 decimal places and input in Quiz 2.2