<a href="https://colab.research.google.com/github/DonnaVakalis/Urban.dat/blob/master/Copy_of_Exercise_2_1_Pandas_Fundamentals_I.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science for Construction, Architecture and Engineering

### Week 2 - Building Design Phase - Intro to Pandas

### Exercise Set 2.1 - Pandas Fundamentals I

This set of exercises is the first of two sets for Week 2. These exercises are designed to give you some hands on experience in trying out the concepts from the first set of videos for this week.

There is an introduction video available to explain the process of using this exercise video.

The lead developer of this exercise is Matias Quintana, a Ph.D. student at NUS and a teaching assistant of this course.

# Exercise 02.1

There are three exercises in this set, each one focused simple uses of the [Pandas library](https://pandas.pydata.org/).

### Please note that you will need to use the resultant output from Exercise 02.1.3 for the Quiz 2.1.

## Exercise 02.1.1

Electrical powermeter datasets usually contain only one column with the electrical consmption in `KWh`. The [Building Data Genome](https://github.com/buds-lab/the-building-data-genome-project) is an example of such template. However, as you just saw in the lectures, you can also generate these datasets yourself after running simulations. 

In this exercise, write some lines of code to load the `Baseline` file  **without** using the `Month` information as index.

The needed functions are already imported below:

In [0]:
import pandas as pd
import os
from google.colab import drive

**Hint**: Remember whenever you want to load files from your Google Drive, you need to `mount` the drive first. The documentation for the Pandas library can be found [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html)

In [3]:
# YOUR CODE HERE
# mount drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [5]:
# choose the directory with the files needed for processing
os.chdir("/content/gdrive/My Drive/EDX Data Science for Construction, Architecture and Engineering/Week 2 - Building Design - Intro to Pandas/simulation_data")

os.listdir()

['Scenario - Low-E Glass.csv',
 'Scenario - Cool roof.csv',
 'Baseline.csv',
 'Baseline.xlsx',
 'Scenario - Increase Setpoint.csv',
 'Scenario - Rooftop Gardens.csv',
 'Scenario - Aircon Schedules.csv']

In [20]:
df_baseline = pd.read_csv("Baseline.csv")
df_baseline.head()

      Month  Baseline
0   January      5.69
1  February      6.75
2     March     10.64
3     April     13.60
4       May     19.34

In [0]:
# transcribe files of interest into a python list for processing
list_of_files = ['Scenario - Low-E Glass.csv',
 'Scenario - Cool roof.csv',
 'Baseline.csv', 
 'Scenario - Increase Setpoint.csv',
 'Scenario - Rooftop Gardens.csv',
 'Scenario - Aircon Schedules.csv']

# check that the correct files are in there:
for filename in list_of_files:
  print(filename)

In [0]:
# open one file to see it:
df = pd.read_csv(list_of_files[0])
df.head()

In [0]:
# read all files in list into dataframes
data_container = []
for filename in list_of_files:
  df = pd.read_csv(filename)
  data_container.append(df) 
  # peak into each df in list
  print(df.head())

In [0]:
# concatenate all dataframes into one dataframe, 
all_dat = pd.concat(data_container,axis=1)

all_dat.head()

In [21]:
df_baseline.head()

      Month  Baseline
0   January      5.69
1  February      6.75
2     March     10.64
3     April     13.60
4       May     19.34

## Exercise 02.1.2

The building facilities manager is concerned about the high consumption during certain months of the year and wants you to see which months the consumption is higher than a certain `consumption_threshold`. 

Write some lines of code that allows you to filter out the rows where the consumption exceed the given `consumption_threshold`. Set `consumption_threshold` equal to 20 initially

In [22]:
# YOUR CODE HERE

CONSUMPTION_THRESHOLD = 20

print(df_baseline[df_baseline['Baseline']>CONSUMPTION_THRESHOLD])

# example: baseline_data[baseline_data['Baseline'] > 10]

       Month  Baseline
5       June     22.64
6       July     27.02
7     August     27.13
8  September     25.04

## Exercise 02.1.3
One energy analysis application is the analysis of *peak consumption ratios*. Suppose we want to know the ratio between the peak consumption of the month of April versus the Peak consumption across the whole year.

In this exercise, let's do this by to finding the *percentage* of the April's peak consumption as compared to the peak consumption value across all months. 

Calculate your answer as a percentage (0-100) as the variable `percentage`

Hint: One way to find the maximum value of a column in a dataframe is to use the function `.max()`, more information about the function can be found [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.max.html).

In [27]:
# YOUR CODE HERE
max_month = df_baseline.max()
print(max_month[1])
#ratio = df_baseline['Month'=='April']/max_month[1]

27.13

### Please write down the number that you calculated for the variable `percentage` rounded up to 2 decimal places and input in Quiz 2.1